<h1>Welcome to the Dictionary</h1>


<p>Here are all of your words:</p>

<% @words.each() do |word| %>
  <li><a href="/words/<%= word.id() %>"><%= word.name() %></a></li>
  <% end %>
<br>
<br>
<ul>
  <li><a href="/words/new">Add New Word</a></li>
</ul>
