<h1>Add a Word</h1>

<p>Add a new word here:</p>

<form action="/words" method="post">
  <label for="name">Name of word:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Word</button>
</form>
